/* styles.module.css */

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 50px;
}

.card {
    border-radius: 15px;
    transition: all 0.5s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: none;
    background: #fff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card_body {
    padding: 1.5rem;
}

.container h5 {
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: #3f3f3f;
}

.container p {
    color: #606060;
    line-height: 1.6;
}

.card_body a > p{
    text-decoration: overline;
}
.bi {
    color: #198754;
    margin-right: 0.8rem;
    vertical-align: middle;
}

@media (max-width: 992px) {
    .container {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .container h5 {
        font-size: 1.4rem;
    }
    .container p {
        font-size: 1.1rem;
    }
    .bi {
        font-size: 1.7rem;
    }
}

@media (max-width: 576px) {
    .container h5 {
        font-size: 1.2rem;
    }
    .container p {
        font-size: 1rem;
    }
    .bi {
        font-size: 1.5rem;
    }
}
