/* Main Layout */
.container-fluid {
  background-color: #FFA500;  /* Orange */
  padding: 2rem;
}

/* Cart Wrapper */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left Column */
.cartLeft {
  flex: 1;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #F5DEB3;  /* Beige */
}

/* Right Column */
.personnal_info {
  flex: 1;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #F5DEB3;  /* Beige */
  box-shadow: 0px 0px 10px #FFA500;  /* Orange */
}
/* Products */
.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 400px;  /* Hauteur fixe */
  overflow-y: auto;  /* Activation du défilement vertical */
}

/* Single Product */
.itemWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #F5DEB3;  /* Beige */
  box-shadow: 0px 0px 10px #FFA500;  /* Orange */
  width: 90%;
}

.cart_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cart_name {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Amount */
.amount {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  background-color: #F5DEB3;  /* Beige */
  box-shadow: 0px 0px 10px #FFA500;  /* Orange */
}

.amount button {
  font-size: 1.2em;
  cursor: pointer;
  background: none;
  border: none;
}

/* Delete Button */
.deleteButton {
  background-color: #d9534f;  /* Rouge Foncé */
  color: white;
  cursor: pointer;
  border: none;
}

/* Delivery Wrapper */
.deliveryWrapper {
  padding: 1rem;
  background-color: #F5DEB3;  /* Beige */
  box-shadow: 0px 0px 10px #FFA500;  /* Orange */
  margin-top: 1rem;
}

/* Payment Option */
.payment_option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.choiceForm label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.choiceForm input[type="radio"] {
  cursor: pointer;
}

.lblCoupon {
  display: flex;
  flex-direction: column;
}

.lblCoupon input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  resize: none;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.lblCoupon button {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  color: #333;
  border: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  resize: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}





/* Responsiveness */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .cartLeft, .personnal_info {
    width: 100%;
  }
}
