/* Favorites.module.css */

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 3rem;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.hr {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.card {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.card-body {
  padding: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* For the "Add to Cart" button */
.addButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.addButton:hover {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.addButton:focus {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.deleteButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #bd1279 0,
    #ca3544 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  right: 0;
}

.deleteButton:hover {
  box-shadow: #bd1279 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.deleteButton:focus {
  box-shadow: #bd1279 0 3px 7px inset;
  transform: translateY(2px);
}

/* Additional styles for the product price */
.card-body p {
  margin: 5px 0;
  color: #666;
}
