.header {
  height: 100px;
}

.top_header {
  background-color: #093729;
  color: white;
  font-weight: 300;
  height: 35px;
  align-items: center;
}

.inner_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.inner_header nav {
  font-weight: 400;
  align-items: center;
}

.inner_header nav a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
}

.logo a {
  letter-spacing: 0.0015em;
  font-size: 1.5em;
  text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
    -2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
    -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
    -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
  text-align: center;
}

.links ul li {
  font-size: 1.3em;
}
.seachInput {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  resize: none;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.searchWrapper {
  display: flex;
}
.searchWrapper button {
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
  color: #333;
  border: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  resize: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 10px;
}

.searchWrapper button:hover {
    transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);

}

.searchWrapper button:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}
