.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 3rem;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-radius: 20px;
}

.card_body{
  padding: 20px;
}
.card {
  border: 1px solid #e1e1e1; 
  border-radius: 12px; 
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.card:hover {
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15); 
  transform: translateY(-50px); 
}

.card_header {
  padding: 20px; 
  font-weight: bold;
  background-color: #032a5a; /* slightly darker shade for the header */
  border-bottom: 1px solid #02344a; /* adjusted the border color */
  display: flex; 
  justify-content: space-between;
}

.container h2, .card h6, .card span {
  color: #ffffff; /* changed to white for better visibility against the dark background */
}

.card p {
  color: #bbc8d6; /* a lighter shade for regular text for better contrast */
}

.blue_text {
  color: #032a5a; /* a lighter blue for links or highlighted text against dark background */
}

.card_header span:last-child {
  background: #032a5a; /* adjusted to match the card_header background */
  padding: 5px 10px;
  border-radius: 10px;
}

.product{
  align-items: center;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}