.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .card_header {
    padding: 15px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .card_body {
    padding: 20px;
  }
  
  .image_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container h2 {
    color: #333333;
  }
  
 .card h6 {
    color: #333333;
    margin-bottom: 5px;
  }
  
 .card p {
    color: #666666;
    margin-bottom: 10px;
  }
  
 .card span {
    color: #333333;
  }
  
 .container hr {
    border-color: #e0e0e0;
  }

  .blue_text{
    color: #0056b3;
    text-decoration: none;
  }