.paymentForm button{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 48px;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    align-self: center;
    margin-right: 50px;
}

.paymentForm .inputCard{
    /* width: 100%; */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: #333;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    resize: none;

}
.paymentForm input:focus{
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}