
.productWrapper{
    width: 310px;
  }

  .productWrapper a {
    text-decoration: none;
    color: black;
  }
  .productWrapper h2,.productWrapper h3{
    color: black;
    font-size: 1em;
  }

  .productWrapper h2:hover{
    color: #5468ff;
  }
  
  .product {
    background-color: antiquewhite;
    width: 300px;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .product:hover {
    transform: translateY(-5px);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  

  .product img{
    transform: scale(0.8);
    overflow: visible;
    transition: 0.5s all;
  }

  .product:hover img{
    transform: scale(1);
    transition: 0.5s all ease;
  }

  .heartButton{
    background:none;
    border: none;
    cursor: pointer;
    z-index: 20;
    box-shadow: inset 0 0 0 0 #5468ff;
    transition: ease-out 0.3s;
    border-radius: 50%;
    font-size: 1.3em;
  }

  .heartButton:hover{
    color: red;
    transition: ease-out 0.3s;
  }


/* CSS */
.addCart {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 480px;
    width: 200px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .addCart:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .addCart:focus {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .addCart:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  .addCart{
    height: 40px;
    width: 120px;
  }