.productWrapper {
  max-width: 80rem;
  min-height: 30rem;
}

.inner_product{
  box-shadow: 0px 0px 2px #093729;
  border-top: 2px solid #093729; 

}
.productWrapper h2 {
  font-size: 1.5em;
}


.text p {
  font-size: 1em;
}
.text i,
.text span {
  font-size: 0.8em;
}
.productRating {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

.amountWrapper p {
  width: 100px;
}

.amount {
  width: 110px;
  height: 35px;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.amount button {
  background: none;
  border: none;
  font-size: 1.2em;
}

.image {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  height: 600px;
}

/* CSS */
.buttons button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
}

.buttons button:focus,
.addCart:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.buttons button:hover,
.addCart:focus {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttons button:active,
.addCart:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.rigthSide h1 {
  font-size: 2em;
  font-weight: bold;
}

.reviewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.reviewCard {
  background-color: #f2f2f2;
  border-top: 2px solid #093729; 
  box-shadow: 0px 0px 10px #093729;
  transition: box-shadow 0.3s ease;
}

.reviewCard:hover {
  box-shadow: 0px 0px 20px #093729;
}

.reviewTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.reviewContent {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

.reviewer {
  margin-top: 15px;
}

.reviewerName {
  font-size: 12px;
  color: #888;
}

/* Media queries for responsiveness */

@media (max-width: 992px) {
  .reviewCard {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .reviewCard {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .reviewCard {
    flex-basis: 100%;
  }
}

.card {
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_body {
  padding: 20px;
}

.card_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card_subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.card_text {
  font-size: 16px;
  color: #555;
}

.carousel {
  padding: 0 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (max-width:1200px){
  .image {
    width: 60%;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {

  .image {
    width: 90%;
    justify-content: center;
    margin: auto;
  }

}

@media screen and (max-width: 480px) {

 .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

}


@media screen and (max-width: 320px) {

  .image{
    height: 50%;
  }
}