/* YourStylesheet.module.css */

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: none;
    background: #fff;
}

.card_body {
    padding: 1.5rem;
}

.card_title {
    font-weight: 600;
    color: #3f3f3f;
    margin-bottom: 1rem;
}

.form_label {
    color: #606060;
}

.form_control {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    transition: border-color 0.2s ease-in-out;
}

.form_control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

.btn_primary {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #9ae88f 0, #4caf50 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.btn_primary:hover {
    box-shadow: #4caf50 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn_primary:focus{
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

@media (max-width: 992px) {
    .container {
        padding: 2rem;
    }
}
